<mat-toolbar>
  <mat-icon aria-hidden="false" aria-label="Logo Icon" fontIcon="commit"></mat-icon>
  <span>Commits Explorer</span>
</mat-toolbar>
<app-container>
  <mat-card>
    <mat-card-content>
      <mat-form-field appearance="outline">
        <mat-label>Public Repo URL</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>link</mat-icon>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="fetchCommits()">Submit</button>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-content>
      <ul>
        <li *ngFor="let commit of commits">{{commit.commit.message.split("\n\n")[0]}}</li>
      </ul>
    </mat-card-content>
  </mat-card>
  
</app-container>
